In [1]:
def f (x, y, z) :
    return [x, y, z]

In [2]:
t = (3, 4)

In [3]:
t == (3, 4)

True

In [6]:
t == (4, 3)

False

In [7]:
f(2, t, 5)

[2, (3, 4), 5]

In [8]:
f(2, 5, t)

[2, 5, (3, 4)]

In [9]:
f(2, *t)

[2, 3, 4]

In [10]:
f(z = 2, *t)

[3, 4, 2]

In [11]:
f(*t, z = 2)

[3, 4, 2]

In [13]:
# f(*t, 2) # SyntaxError: only named arguments may follow *expression

In [15]:
# f(x = 2, *t) # TypeError: f() got multiple values for argument 'x'

In [17]:
# f(*t) # TypeError: f() missing 1 required positional argument: 'z'

In [19]:
# f(2, 5, *t) # TypeError: f() takes 3 positional arguments but 4 were given

In [24]:
d1 = {"z" : 4, "y" : 3, "x" : 2}

In [25]:
f(**d1)

[2, 3, 4]

In [23]:
# f(2, **d1) # TypeError: f() got multiple values for argument 'x'

In [26]:
d2 = {"z" : 4, "y" : 3}

In [27]:
f(2, **d2)

[2, 3, 4]

In [28]:
f(x = 2, **d2)

[2, 3, 4]

In [30]:
# f(**d2, 2) # SyntaxError: invalid syntax

In [32]:
# f(**d2, x = 2) SyntaxError: invalid syntax

In [34]:
# f(**d2) # TypeError: f() missing 1 required positional argument: 'x'

In [36]:
# f(2, 5, **d2) # TypeError: f() got multiple values for argument 'y'

In [37]:
d3 = {"y" : 3}

In [38]:
f(2, z = 4, **d3)

[2, 3, 4]

In [40]:
# f(2, 4, **d3) # TypeError: f() got multiple values for argument 'y'

In [41]:
d4 = {"z" : 4, "y" : 3, "t" : 5}

In [43]:
# f(2, **d4) # TypeError: f() got an unexpected keyword argument 't'

In [45]:
# f(x = 2, **d4) # TypeError: f() got an unexpected keyword argument 't'

In [47]:
# f(**d4) # TypeError: f() got an unexpected keyword argument 't'

In [48]:
t = (2, 3)

In [49]:
d5 = {"z" : 4}

In [50]:
f(*t, **d5)

[2, 3, 4]

In [52]:
# f(**d5, *t) # SyntaxError: invalid syntax